= javascript_pack_tag 'input_time'

.center.jumbotron
  %h1 tatatatatatata!!!
  %h2
    This is the home page for the
    %a{:href => "https://railstutorial.jp/"} Ruby on Rails Tutorial
    sample application.
  = link_to "Sign up now!", '#', class: "btn btn-lg btn-primary"


<div id='hello'>
{{message}}
<p>
<app></app>
</p>
</div>

